.Conteiner_Main_MaisProdutos{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     padding: 2rem;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

.Conteiner_MaisProdutos{
    display: flex;
    width: 70%;
    align-items: center;
    gap: 3rem;
    overflow: scroll;
}
.Conteiner_MaisProdutos a img{
    height: 20rem;
}
.Seta{
    height: 2rem;
}
.Direita{
    transform: rotate(180deg);
}