.Conteiner__Contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Conteiner__CaixaTexto {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.Conteiner__perguntas{
    width: 80%;
}

.Conteiner__imgContato img {
    height: 14rem;
    margin-bottom: 1rem;
}

.CaixaMsg__input {
    height: 10rem;
    width: 100%;
    border-radius: 0.3rem;
    border: 0.1rem solid;
    border-color: rgb(84, 84, 84)

}

.CaixaMsg__input textarea {
    width: 100%;
    height: 100%;
    padding: 0.1rem 0.7rem;
    border: none;
    resize: none;

}

.Form__Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form__Contato h1 {
    color: var(--main-tx-color);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.Form__Contato p {
    width: 70%;
    text-align: justify;
    color: var(--side-tx-color);
    font-weight: 400;
    font-size: 1rem;
}

.Bnt__Msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--side-bg-color);
    color: var(--main-bg-color);
    border-style: none;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
    height: 3rem;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
}

h1{
    
}

.container {
    box-shadow: 8px 10px 5px #0003;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: auto 5px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .accordion_item {
    border-radius: 5px;
  }
  
  .accordion_item:hover {
    opacity: 0.9;
  }
  
  .accordion_header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .accordion_content {
    margin-left: 50px;
    margin-right: 15px;
    overflow: hidden;
    height: 0;
    transition: all .5s ease;
    font-size: 14px;
  }
  
  .active {
    padding-bottom: 10px;
  }
  span, .icon {
    font-weight: 600;
  }
  
  p {
    text-align: justify;
  }

@media screen and (max-width: 350px) {

    .Conteiner__imgContato img {
        height: 7rem;
    }

    .CaixaMsg__input {
        height: 5rem;
    }

    .Conteiner__perguntas{
        width: 50%;
    }

    .CaixaMsg__input textarea {
        font-size: 0.7rem;
    }

    .Form__Contato h1 {
        font-size: 2rem;
    }

    .Form__Contato p {
        font-size: 0.8rem;
        padding-left: 2rem;
        width: 90%;
    }

    .Bnt__Msg {
        font-size: 1rem;
        padding: 0rem;
        height: 2rem;
    }
}


/* Responsividade Tablet */

@media screen and (min-width: 700px) {
    .Conteiner__imgContato img {
        height: 20rem;
        margin-bottom: 2rem;
    }

    .Form__Contato h1 {
        font-size: 4rem;
        padding-left: 3rem;
    }

    .Conteiner__perguntas{
        width: 70%;
    }

    .Form__Contato p {
        font-size: 1.5rem;
    }

    .CaixaMsg__input {
        height: 15rem;
        border: 0.2rem solid;
    }

    .CaixaMsg__input textarea {
        font-size: 2rem;
        font-weight: 400;
    }

    .Bnt__Msg {
        font-size: 1.5rem;
        height: 4rem;
    }
}


.container.heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.container .accordion-container{
    padding: 0 20px;
}

.container .accordion-container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}

.container .accordion-container .accordion.active .accordion-heading{
    background: red;
}

.container .accordion-container .accordion.active .accordion-heading h3{
    color: #fff;
}

.container .accordion-container .accordion.active .accordion-heading i{
    transform: rotate(180deg);
    transition: transform .2s .1s;
}

.container .accordion-container .accordion.active .accordion-content{
    display: block;
}

.container .accordion-container .accordion .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    border: 2px solid #000;
    padding: 15px;
}

.container .accordion-container .accordion .accordion-heading h3{
    font-size: 20px;
}

.container .accordion-container .accordion .accordion-heading i{
    color: #000;
}

.container .accordion-container .accordion .accordion-content{
    display: block;
}


.container .accordion-container .accordion .accordion-content{
    padding: 15px 20px;
    border: 2px solid #000;
    font-size: 15px;
    background: #fff;
    border-top: 0;
    display: none;
    animation: animate .2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

@keyframes animate{
    0%{
        transform: scaleY(0);
    }
}

/* Responsividade Notebook */

@media screen and (min-width: 1200px) {
    .Conteiner__Contato {
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .Conteiner__perguntas{
        width: 80%;
    }

    .Conteiner__CaixaTextoSide {
        background-color: rgb(255, 255, 255);
        width: 50;
    }

    .Conteiner__imgContato img {
        height: 25rem;
        margin-bottom: 0rem;
    }

    .CaixaMsg__input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        border: 0.1rem solid;
        border-color: rgb(84, 84, 84);
    }

    .CaixaMsg__input textarea {
        font-size: 1rem;
    }

    .Form__Contato h1 {
        
        font-size: 2.5rem;
        padding: 0;
        width: 80%;
    }

    .Form__Contato p {
        font-size: 1rem;
        padding: 0;
        width: 80%;
        padding-bottom: 0rem;
    }

    .Bnt__Msg {
        height: 3rem;
        font-size: 1rem;
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1700px) {
    .Conteiner__Contato {
        height: 50rem;
    }

    .Conteiner__imgContato img {
        height: 40rem;
    }

    .CaixaMsg__input textarea {
        border-radius: 0.5rem;
        font-size: 1rem;
        max-height: 100%;
        min-height: 100%;

    }

    .Form__Contato h1 {
        font-size: 3rem;
    }

    .Form__Contato p {
        font-size: 1rem;
        padding-left: 3rem;
    }

    .Bnt__Msg {
        font-size: 1.5rem;
    }
}